.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.green{
  text-decoration: line-through;


}
h1{
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.card{
  box-shadow: 2px 3px 2px 1px #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  border: solid 1px #eee;
  margin-right: 10px;

}
.btn{
  padding: 8px 7px;
  border:4;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}
.pink{
  background-color: #ed639e;
  color: white;
}
.purple{
  background-color: #a92aab;
  color: white;
}
.flex-apart{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
input{
  padding: 8px;
  border: solid 2px #bbb;
  border-radius: 5px;
  margin: 0 5px;
  flex: 1;
}
label{
  margin: 0 5 px;
}
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-relative {
  position: relative;
}



@media (min-width: 768px) {
  .bottom-fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
  }
}

@media (max-width: 767px) {
  .bottom-relative {
      position: relative;
  }
}




